:root {
    --primary-color: #6B3CC9;
    --Analogous-Color-1:#6A44F2;
    --Analogous-Color-2:#1CBDDD;
    --Triadic-Color-1:#52378C;
    --Dark-Color:#4DCA79;
    --Text-Color-Light:#545A75;
    --Text-Color--Subtle:#9C9991;
    --Accent-Color:#E2F2FE;
    --Error-Color:#FF0335;
    --Success-Color:#5EB30B;
    --white: #FFF;
    --black: #000;
    --Secondary-Color: #F28D35;
    --purple-background: #FAF8FF;
    --gray: #6F6C90;
}
.btn {
    background-color: var(--Secondary-Color) !important;
    text-transform: uppercase;
    color: var(--white) !important;
    font-size: 18px;
    font-weight: 500;
}